
# Maven
/target
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd

# IDE
.classpath
.project
.settings/
.idea/
*.iml
.DS_Store

# Logs
*.log
logs/

# Docker volumes
data/

# Project exclude paths
/promo-service/target/